*{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  .inmobiliaria-nav{
    font-size: 16pt;
    background-color: #050A30 !important;
  }
  
  .inmobiliaria-nav .container-fluid a{
    font-size: 16pt;
  }

  .navbar-nav .nav-item {
    margin-right: 15px;
}
  
  .navbar-nav .nav-item a,
  .navbar-nav .nav-item button {
      margin-top: 5px;
  }
  
  body {
    background-color: #050A30;
    font-family: sans-serif;
    color: white;
    height: 1020px;
  }
  
  .header {
    background: linear-gradient(to right, #004AAD,#CB6CE6);
    text-align: center;
    padding: 30px;
    margin-bottom: 30px;
  }
  
  .header h1 {
    font-size: 32px;
    margin: 0;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
    padding: 100px;
  }
  
  .card {
    background-color: #727e96;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.973);
    overflow: hidden;
    width: 200px;
    height: 340px;
    text-align: center;
    padding: 10px;
  }
  
  .card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }
  
  .card-body{
    padding: 10px;
  }
  
  .card-title{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  
  .scroll-container {
    max-height: 80vh;
    overflow-y: scroll;
    padding: 10px;
  }
  
  .scroll-container::-webkit-scrollbar {
    display: none;
  }
  
  .scroll-container {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
  }
  
  /*Copiar desde aqui para pie de pagina*/
footer{
  background: linear-gradient(to right, #004AAD,#CB6CE6);
  color: white;
  height: 100px;
}
footer img{
  position: relative;
  left: 40px;
  bottom: 5px;
}

footer .linea{
  background-color: #CAE8FF;
  height: 100px;
  width: 4px;
}

footer .titulo{
  margin-top: 30px;
  margin-right: 40px;
  color: #CAE8FF;
}

footer .ingenieros{
  margin-top: 30px;
  margin-left: 40px;
  color:#CAE8FF;
}


  /* perdon paula pipiippipi
  .footer {
    background-color: #161a22;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  .footer a {
    color: white;
    text-decoration: none;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }*/