<header>
  <nav class="navbar navbar-expand-lg bg-body-tertiary inmobiliaria-nav">
    <div class="container-fluid">
      <a class="navbar-brand text-white fs-3 fw-bold" href="#">
        <img src="logo.png" alt="logo inalpes" width="240" height="120" class="d-inline-block align-text"
          style="position: relative; left:70px;">
        Inmobiliaria inAlpes
      </a>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active text-white fw-bold" aria-current="page" href="#">Nosotros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-white text-white fw-bold" href="#">Servicios</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active text-white fw-bold" href="#" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Inmuebles
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" (click)="irAInmueblesVentas()">Venta</a></li>
              <li><a class="dropdown-item" (click)="entrarAInmueblesArriendo()">Arriendo</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-white fw-bold" href="#">Contacto</a>
          </li>
          <li class="nav-item" *ngIf="!currentUser && !currentUserEmpleado">
            <a (click)="navigateToAuthUsers()" class="btn btn-primary"
              style="background-color: #CAE8FF; color: black; border: none; position: relative; top: 5px; margin-left: 10px;">Iniciar
              Sesion</a>
          </li>
          <li class="nav-item" *ngIf="currentUser || currentUserEmpleado">
            <a (click)="navigateToProfile()" style="margin-right: 20px;">
              <img src="profile-icon.png" alt="Profile Image" class="rounded-circle" height="60"
                style="cursor: pointer;">
              <button class="btn btn-danger" (click)="logout()">Cerrar Sesión</button>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<main>
  <form class="register-form" (submit)="submitForm()">
    <input class="titulo-inmueble fw-bold form-control" placeholder="Digita el titulo del inmueble"
      [(ngModel)]="tituloinmueble" name="titulo-inmueble">
    <select class="form-select estado-inmueble" [(ngModel)]="estadoinmueble" name="estadoinmueble">
      <option selected>Selecciona estado para el inmueble</option>
      <option value="Venta">Venta</option>
      <option value="Arriendo">Arriendo</option>
    </select>

    <p class="tipo-inmueble fw-bold" [(ngModel)]="tipoinmueble" name="tipoinmueble">{{ tipoInmuebleDescripcion }}</p>
    <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="#5CB6F9"
      class="bi bi-house-door-fill house-icon" viewBox="0 0 16 16">
      <path
        d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5" />
    </svg>
    <img src="bed-icon.svg" alt="cama" class="bed-icon" width="80" height="80">
    <p class="fw-bold habitaciones-titulo">Habitaciones</p>
    <input type="number" class="form-control habitaciones-count" placeholder="Digita cantidad habitaciones"
      name="habitaciones" [(ngModel)]="habitaciones">

    <img src="bath-icon.svg" alt="baño" class="bath-icon" width="80" height="80">
    <p class="fw-bold baño-titulo">Baños</p>
    <input type="number" class="form-control baños-count" placeholder="Digita cantidad baños" name="banos"
      [(ngModel)]="banos">

    <img src="garage-icon.svg" alt="garage" class="garage-icon" width="80" height="80">
    <p class="fw-bold garaje-titulo">Garajes</p>
    <input type="number" class="form-control garaje-count" placeholder="Digita cantidad garajes" name="garaje"
      [(ngModel)]="garaje">

    <img src="house-icon-estrato.svg" alt="estrato" class="estrato-icon" width="80" height="80">
    <p class="fw-bold estrato-titulo">Estrato</p>
    <input type="number" class="form-control estrato-count" placeholder="Digita estrato" name="estrato"
      [(ngModel)]="estrato">

    <img src="area-icon.svg" alt="area" class="area-icon" width="80" height="80">
    <p class="fw-bold area-titulo">Área</p>
    <input type="text" class="form-control area-count" placeholder="Digita area" name="area" [(ngModel)]="area">

    <div class="inmueble-img">
      <svg xmlns="http://www.w3.org/2000/svg" width="240" height="240" fill="currentColor" class="bi bi-upload"
        viewBox="0 0 16 16">
        <path
          d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5" />
        <path
          d="M7.646 1.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 2.707V11.5a.5.5 0 0 1-1 0V2.707L5.354 4.854a.5.5 0 1 1-.708-.708z" />
      </svg>
      <p class="fw-bold">Sube una foto de tu inmueble</p>

      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
        style="background-color: white; color: #12229D; border: none; font-size: 24pt;">
        Subir foto
      </button>
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel" style="color: black;">Caracteristica en desarrollo
              </h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="color: black;">
              Esta funcionalidad aun esta en desarrollo, estara disponible en proximas actualizaciones :)
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="comerciales-descripcion">
      <div class="columns">
        <div class="left-column">
          <h5 class="fw-bold" style="font-size: 22pt;">Asesores disponibles: </h5>
          <ng-container *ngFor="let empleado of empleados">
            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
              <input type="radio" class="btn-check visually-hidden" name="comercial"
                [id]="'btnradio' + empleado.idempleado" [value]="empleado.idempleado" autocomplete="off"
                [(ngModel)]="comercial">
              <label class="btn btn-outline-primary me-2" [for]="'btnradio' + empleado.idempleado">
                <div>
                  <img src="profile-icon.png" alt="imagen asesor" style="height: 160px;">
                  <p class="mb-0">{{ empleado.nombre }} {{ empleado.apellido }}</p>
                  <p>Tel. {{ empleado.telefono }}</p>
                  <p>Correo: {{ empleado.correo }}</p>
                </div>
              </label>
            </div>
          </ng-container>
        </div>
        <div class="right-column">
          <p class="fw-bold ">Descripción del inmueble</p>
          <div class="mb-3">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
              placeholder="Ingresa la descripcion del inmueble" [(ngModel)]="descripcion" name="descripcion"></textarea>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary fw-bold"
        style="background-color: white; color: #12229D; border: none; font-size: 35pt; position: relative; left: 1400px;
        bottom: 500px;">Subir inmueble</button>
    </div>
  </form>
</main>




<footer class="d-flex justify-content-center">
  <img src="logo.png" alt="logo">
  <h4 class="titulo"><b>Inmobiliaria inAlpes</b></h4>
  <div class="linea"></div>
  <h4 class="ingenieros"><b>Desarrollado por Ing. Paula e Ing. Iván</b></h4>
</footer>